<div [@routerTransition]>
    <app-page-header [heading]="'Openings List'" [icon]="'fa-table'"></app-page-header>
    <div class="row">
        <div class="col col-xl-12 col-lg-12">
            <div class="card mb-3">
                <div class="card-header">
                    Opening List
                    <span style="float:right;"><button class="btn btn-sm btn-primary">Add Opening</button></span>
                </div>
                <div class="card-body table-responsive">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Position</th>
                            <th>Openings</th>
                            <th>Reference</th>
                            <th>Start Date</th>
                            <th>End Date</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>@mdo</td>
                            <td>@mdo</td>
                            <td>@mdo</td>
                            <td>@mdo</td>
                        </tr>
                       
                        </tbody>
                    </table>
                </div>
            </div>
         </div>
    </div>
</div>
